[submodule "CoreSoftwareCpp/imgui"]
	path = CoreSoftwareCpp/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "CoreSoftwareCpp/implot"]
	path = CoreSoftwareCpp/implot
	url = https://github.com/epezent/implot.git
[submodule "CoreSoftwareCpp/Cpp_Ecg_Detectors"]
	path = CoreSoftwareCpp/Cpp_Ecg_Detectors
	url = https://github.com/ahmniab/Cpp_Ecg_Detectors.git
