@page "/"
@page "/Stream"

<h1>@text</h1>
<button @onclick="HandleClick"> click me </button>

@code{
    
    private string text = "Ahmed Mahmoud";
    private int counter = 0;

    private void HandleClick()
    {
        text = $"Ahmed Mahmoud ({++counter})";
    }

}